@model ChattingSystem.Models.ApplicationUser

@{
    ViewBag.Title = "Chat";
}

    <div style="display:flex; justify-content:space-around; flex-direction:row; flex-wrap:wrap">
        <div style="display:flex; flex-direction:column; width:60%;">
        <div id="room" class="border" style="overflow-y:auto">    
            <div id="discussion" style="height:700px">
                <div class="loader"></div>
            </div>
        </div>
            <div>
                <input style="max-width:100%;" type="text" id="message" placeholder="Ввод сообщения" />
                <input type="button" id="sendmessage" value="Send" />

                   <input type="file" name="messagefile" id="messagefile">

            </div>
        </div>
        <div style="display:flex; flex-direction:column; width:30%; text-align:center"> 
            <div class="border">
                <div>
                    <p><b>Профиль</b></p>    
                    @using (Html.BeginForm("ChangeProfile", "Chat", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <br>
                        if (Model.Photo != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img id="userimg" class="border" style="height:200px; width:200px" src="@imgSrc" />
                        }
                        else
                        {
                            <img id="userimg" class="border" style="height:100px; width:100px" src="#" />
                        }
                        <br />
                        <br/>
                        <input type="file" id="photo" name="photo" value="Выберите фото" accept="image/*" />
                        <br />
                        <div>Никнейм: <input type="text" id="nickname" name="nickname" value="@Model.ChatName"/></div>
                        <br />
                        <input type="submit" id="update" value="Обновить"/>
                     }
                    <br>
                    <p><a href="@Url.Action("Logout","Account")" id="logout">Logout</a></p>
                </div>
            </div>
            <div id="chatusers" class="border" style="height:215px; overflow-y:auto">
                    <p><b>Пользователи в чате</b></p>
                    <input id="hdId" type="hidden" />
                    <input type="hidden" id="displayname" />
            </div>
        </div>
       
    </div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/Chat.js"></script>
}
